<% layout('layouts/boilerplate') %>
<div id="map" style="width: auto; height: 400px;"></div>
<h1 style="color: white; margin-top: 2%;">All Campgrounds</h1>
<div class="mb-3">
  <a href="/campgrounds/new" role="button" class="btn btn-dark">Add Campground</a>
</div>
<% for(let campground of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if(campground.images.length) { %> 
          <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
        <% } else { %>
          <img class="img-fluid" src="https://res.cloudinary.com/dd0xcevbq/image/upload/v1645160719/YelpCamp/bu3wiyzssbzg33bwj4ih.avif" alt="">
        <% } %> 
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <a class="btn btn-info" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
        </div>
      </div>
    </div>
  </div>
<% } %>

<script>
  const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>

<script src="/js/clusterMap.js"></script>